/**
*	Styles for the header bar on every page
*/

*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#navigationHeader{
	height: 0px;
}

#navItems:hover{
    cursor: pointer;
}