/**
*   Styles for the player
*/

 html, body {
    height: 100%;
}

#description{
    border: solid;
    border-width: 1px; 
    min-width: 560px;
    max-width: 560px;
}

#no_desc{
}

#description_area > canvas{ 
	width: 320px; 
	height: 40px;
  margin: 2px; 
	background:#002D3C; 
}

#slider{
    position: relative;
    width: 80px;
    height: 6px;
    left: 40px;
    bottom: 18px;
}


#slider >.ui-slider-handle{
	height: 13px;
	width: 13px;

}

#slider >.ui-slider-handle:hover{
	cursor: pointer;
}

#volumeControl{
    position: relative;
    top:  5px;
    left: 0px;
}
#volumeimg{
    width   : 30px;
    height  : 30px;
    position: relative;
    left    : 5px;
}

#volumeimg:hover{
    cursor: pointer;
}

/* Rating Styles */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#like:hover{
  cursor: pointer;
}

#dislike:hover{
  cursor: pointer;
}

/* end rating styles */


/* Related project styles */
#relatedResults{
    list-style: none;
}

#resultContainer{
    min-height: 120px;
}

.media-content{
  padding: 10px;
}

/* end rel. styles */


/* Video Styles */
#player_column{
  min-width: 560px;
}

/* end video styles */

