/**
*
*/

 html, body {
    height: 100%;
}

#description_area{
    border: solid;
    border-width: 1px; 
    min-width: 560px;
    max-width: 560px;
}

#no_desc{
  color: red;
}

#description_area > canvas{ 
	width: 380px; 
	height: 40px;
    margin: 2px; 
	background:#002D3C; 
}

#slider{
    position: relative;
    width: 80px;
    height: 6px;
    left: 40px;
    bottom: 18px;
}


#slider >.ui-slider-handle{
	height: 13px;
	width: 13px;

}

#slider >.ui-slider-handle:hover{
	cursor: pointer;
}

#volumeControl{
    position: relative;
    top:  5px;
    left: 0px;
}
#volumeimg{
    width   : 30px;
    height  : 30px;
    position: relative;
    left    : 5px;
}

#volumeimg:hover{
    cursor: pointer;
}

/* Rating Styles */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
/* end rating styles */

