/**
*   Manage area styles
*/

.menu {
  height:100%;
}
 
.menu.collapse {
  float:left;
  height: 100% !important;
  width: auto;
}
 
menu.collapse.height {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
 
menu.collapse.width {
  position: relative;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
 
menu.collapse.in.width {
  width: auto;
}
 
menu.collapse.in.height {
  height: auto;
}
 
menu.collapse-inner {
  position: relative;
  width: 250px;
  height: 100%;
}